// Everything the exe carries. Paths are relative to app/src (build.bat runs rc from there).
EDITOR     RCDATA "..\..\editor\index.html"
PLUGIN_DLL RCDATA "..\..\hudreload\build\schemereload.dll"
PLUGIN_VDF RCDATA "..\..\hudreload\schemereload.vdf"
CLIENT_DEF RCDATA "..\defaults\clientscheme_default.res"
SOURCE_DEF RCDATA "..\defaults\sourcescheme_default.res"
HUDLAYOUT_DEF RCDATA "..\defaults\hudlayout_default.res"
V_SCOREBOARD RCDATA "../defaults/ui/scoreboard.res"
V_SPECTATOR RCDATA "../defaults/ui/spectator.res"
V_BOTTOMSPECTATOR RCDATA "../defaults/ui/bottomspectator.res"
V_TEAMMENU RCDATA "../defaults/ui/teammenu.res"
V_CLASSMENU_CT RCDATA "../defaults/ui/classmenu_ct.res"
V_CLASSMENU_TER RCDATA "../defaults/ui/classmenu_ter.res"
V_TEXTWINDOW RCDATA "../defaults/ui/textwindow.res"
V_BUYMENU RCDATA "../defaults/ui/buymenu.res"
V_CHATSCHEME RCDATA "../defaults/chatscheme.res"
