// Everything the exe carries. Paths are relative to app/src (build.bat runs rc from there).
EDITOR     RCDATA "..\..\editor\index.html"
PLUGIN_DLL RCDATA "..\..\hudreload\build\schemereload.dll"
PLUGIN_VDF RCDATA "..\..\hudreload\schemereload.vdf"
CLIENT_DEF RCDATA "..\defaults\clientscheme_default.res"
SOURCE_DEF RCDATA "..\defaults\sourcescheme_default.res"
HUDLAYOUT_DEF RCDATA "..\defaults\hudlayout_default.res"
V_SCOREBOARD RCDATA "../defaults/ui/scoreboard.res"
V_SPECTATOR RCDATA "../defaults/ui/spectator.res"
V_BOTTOMSPECTATOR RCDATA "../defaults/ui/bottomspectator.res"
V_TEAMMENU RCDATA "../defaults/ui/teammenu.res"
V_CLASSMENU_CT RCDATA "../defaults/ui/classmenu_ct.res"
V_CLASSMENU_TER RCDATA "../defaults/ui/classmenu_ter.res"
V_TEXTWINDOW RCDATA "../defaults/ui/textwindow.res"
V_BUYMENU RCDATA "../defaults/ui/buymenu.res"
V_CHATSCHEME RCDATA "../defaults/chatscheme.res"
V_INTERNETGAMESPAGE RCDATA "../defaults/ui/internetgamespage.res"
V_CUSTOMGAMESPAGE RCDATA "../defaults/ui/customgamespage.res"
V_BASECHAT RCDATA "../defaults/ui/basechat.res"
V_LOADINGDIALOGNOBANNER RCDATA "../defaults/ui/loadingdialognobanner.res"
V_LOADINGDIALOGVAC RCDATA "../defaults/ui/loadingdialogvac.res"
V_WIN_ROUND RCDATA "../defaults/ui/win_round.res"
V_FREEZEPANEL_BASIC RCDATA "../defaults/ui/freezepanel_basic.res"
V_C4PANEL RCDATA "../defaults/ui/c4panel.res"
V_BUYMENU_CT RCDATA "../defaults/ui/buymenu_ct.res"
V_BUYMENU_TER RCDATA "../defaults/ui/buymenu_ter.res"
